body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3498db;
}

#quiz-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#question {
    font-size: 20px;

}

h1 {
    color: #333;
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

#timer {
    
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#view-scores-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#view-scores-btn:hover {
    background-color: #2980b9;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#options {
    list-style: none;
    padding: 0;
}

button.option {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button.option:hover {
    background-color: #2980b9;
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

#initials-form {
    margin-top: 20px;
}

label {
    font-size: 20px;
    color: #333;
}

input[type="text"] {
    padding: 8px;
    font-size: 20px;
    margin-right: 10px;
}

#save-score-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-score-btn:hover {
    background-color: #c0392b;
}

#high-scores {
    margin-top: 20px;
}

#high-scores-list {
    list-style-type: none;
    padding: 0;
}

#high-scores-list li {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}
